[submodule "Samples/Statistics/Workbench (Distributions)"]
	path = Samples/Statistics/Workbench (Distributions)
	url = ../../kasthack-labs/statistics-workbench.git
[submodule "Samples/Video/Screencast Capture"]
	path = Samples/Video/Screencast Capture
	url = ../../kasthack-labs/screencast-capture.git
